/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-right: 0 !important;
  overflow-y: auto !important;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-panel {
  height: 200px;
}

/* 解决element-ui的table表格控件表头与内容列不对齐问题 */
.el-table th.gutter {
  display: table-cell !important;
}

div.zk-table__body-wrapper {
  overflow: hidden;
}

.el-steps {
  margin: 15px 0;
}

div.el-step__title {
  font-size: 15px;
}
/* 
div.el-tabs {
  margin-top: 30px;
} */

.ql-editor{
  min-height: 300px;
}